.container {
  max-width: 100%;
}

.nav-link {
  cursor: pointer;
}

#networkVis {
  width: 100%;
  height: 300px;
  border: 1px solid lightgray;
  background-color: beige;
}

.vis-up, .vis-down, .vis-left, .vis-right{
  visibility: hidden;
}

.log-window {
  background: #000;
  color: #f7f5fc;
  font-size: 15px;
  border-radius: 0;
  border: 0;
  padding: 8px;
  height: 500px;
  white-space: normal;
}

.bash {
}
